{% extends 'blog/layout.html' %}
{% load static %}
{% block title %}
{{category.title}}
{% endblock %}

{% block content %}
<section id="bg-big" class="container-fluid" style="background: url('{{category.image.url}}')">
      <div id="hero" class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">{{category.title}}</h1>
          </div>
        </div>
</section>
    <section class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-9">
                  {% for post in categoriy.post.set.all %}
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                      {% if post.image.url != null %}
                        <img src="{{post.image.url}}" style="height: 200px; object-fit: cover" class="card-img" alt="...">
                      {% else %}
                        <img src="{% static 'img/no-image.jpg'%}" alt="">         
                      {% endif %}
                    </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{post.title}}</h5>
                              <em><a href="{{post.category.get_absolute_url}}">{{post.category.title}}</a></em>
                              <p class="card-text">{{post.summary}}</p>
                              <p class="card-text"><small class="text-muted">{{post.date|date:'d F Y'}}</small></p>
                            </div>
                          </div>    
                        </div>
                      </div>  
                      </div> 
                      {% endfor %} 
              <aside class="col-md-3"></aside>  
            </div>
        </section>
    </section>
{% endblock %}