{% extends 'blog/layout.html'%}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная страница</title>
    </head>
    <body>
        <h1 style="text-align: center">Вот это да</h1> 
        <div style="width: 150px; height: 100px; display: flex; flex-direction: column; background: red;">
            fkfkfk 
        </div>
        
    </body>
    </html>
{% endblock %}
