{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Главная
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Новости</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <section class="content-fluid">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <form action="{% url 'feedback' %}" method="POST">
            {% csrf_token %}
            {% if not user.is_authenticated %}
            <p>
              <label for="">Ваше имя</label>
              <input type="text" name="name" class="form-control">
            </p>
            <p>
              <label for="">Телефон</label> 
              <input type="text" name="phone" class="form-control">
            </p>
            <p>
              <label for="">Email</label>
              <input type="email" name="email" class="form-control">
            </p>
            <p>
              <label for="">Сообщения</label>
              <textarea name="text" class="form-control" id="" cols="30" rows="10"></textarea>
            </p>
            <button class="btn btn-danger" style="background-color: black; color: yellow;">Отправить</button>
          </form>
          {% else %}
            <form action="{% url 'feedback' %}" method="POST">
              <p>
                <label for="">Сообщения</label>
                <textarea name="text" class="form-control" id="" cols="30" rows="10"></textarea>
              </p>
              <button class="btn btn-danger" style="background-color: black; color: yellow;">Отправить</button>
            </form>
            {% endif %}
          </form>
        </div>
      </div>
    </section>
    <footer id="footer" style="background: #111;">
        <div class="copy" style="text-align: center; padding: 20px;">
            <p style="margin: 0;">Разраб<a href="#">Рандомный чел с улицы</a></p>
        </div>
    </footer>
    <script src="{% static 'js/JQuerry.js' %}"></script>
    <script src="{% static 'js/poper.js' %}"></script>
    <script src="{% static 'js/boot.min js' %}"></script>
</body>
</html>