{% extends 'blog/layout.html' %}

{% block title %}
Популярные посты
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        {% for posts in popular %}
        <div class="col-md-6">
            <h1>POPULAR</h1>
            <h3>{{posts.title}}</h3>
            <img src="{{posts.image.url}}" alt="">
            <em>{{posts.views}}</em>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}