{% extends 'blog/layout.html' %}
{% load static %}
{% block title %}
Поиск по:{{query}}
{% endblock %}

{% block content %}
    <form action="{% url 'register'%}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="color: red;">Регистрация</button>
    </form>
{% endblock %}